fastapi==0.136.1
google-pasta==0.2.0
inscriptis==2.7.1
keras==3.14.0
nltk==3.9.4
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
regex==2026.4.4
scikit-learn==1.8.0
scipy==1.17.1
uvicorn==0.47.0
tensorflow==2.21.0